@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*End of default properties*/

$CardHeight: 125px;
$CardWidth: 100px;

/* Mixin */
@mixin CenterIt($placement: center, $placement2: center) {
    & {
        display: flex;
        justify-content: $placement;
        align-items: $placement2;
    }
}

.Layout {
    @include CenterIt(center, none);
    flex-flow: column nowrap;
    background: linear-gradient(to right, #56ab2f, #a8e063);
    height: 100%;
    min-height: 100vh;
    width: 100%;
    gap: 15px;
    label {
        font-size: 1.15em;
        color: rgba(50,55,30,.89);
        letter-spacing: 1px;
        text-align: center;
    }
    #GameArea {
        height: max-content;
        padding: 3rem;
    }
    .Availeable-Cards {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $CardHeight;
        label {
            font-size: 1.1em;
            z-index: 2;
            display: inherit;
            flex-direction: column;
        }
        &::before {
            content: '';
            position: absolute;
            border: 5px solid rgba(244,244,244,.8);
            background: url(/Cards/back@2x.png) no-repeat;
            background-size:cover;
            color: black;
            border-radius: 5px;
            height: $CardHeight + 65;
            width: $CardWidth - 15;
            rotate: 90deg;
        }
    }
    &-Hand {
        display: flex;
        flex-flow: column nowrap;
        min-height: $CardHeight;
        position: relative;
        > label {
            text-align: center;
            // padding: 25px 0 15px 0;
        }
        .Value {padding: 5px 0;}
        section {
            @include CenterIt(center, none);
            flex-flow: wrap;
            .Cards {
                background-color: rgba(244,244,244,.8);
                padding: 5px;
                border-radius: 5px;
                height: $CardHeight;
                width: $CardWidth;
            }
        }
    }
    &-Buttons {
        display: flex;
        align-items: end;
        height: 7rem;
        flex-grow: 1;
        > div {
            position: relative;
            display: flex;
            justify-content: center;
            align-self: start;
            gap: 15px;  
            width: 100%;
            button {
                height: 66px;
                width: 128px;
                outline: none;
                border: none;
                cursor: pointer;
                &:nth-child(1) {
                    background-color: rgba(0,255,0,.7);
                }
                &:nth-child(2) {
                    background-color: rgba(255,0,0,1);
                }
            }
        }
    }
}

.StopScreen {
    @include CenterIt();
    flex-direction: column;
    position: absolute;
    inset: 0;
    backdrop-filter: blur(5px);
    transition: .5s ease-in-out;
    label {
        position: relative;
        bottom: 50px;
        font-size: 2em;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    button {
        height: 3rem;
        width: 15rem;
        font-size: 1.2em;
        letter-spacing: 3px;
        cursor: pointer;
    }
}

/*#region Turn dealers card*/

$Scale: scale(1.0555); //1.11
$RotateY: rotateY(90deg); //180deg
$TranslateY: translateY(-25px); //50px
.Runit {
    transition: 1s;
    transform: $Scale $TranslateY $RotateY;
}
.RunItBack {
    transform: $Scale $TranslateY $RotateY;
    animation: 2s TurnBack forwards;
}

@keyframes TurnBack {
    100% {
        transform: scale(1) translateY(0) rotateY(0);
    }
}

/*#endregion*/

/*#region Media queries*/
@media only screen and (max-width: 846px) {
    .Layout {
        &-Hand {
            label:first-of-type {
                padding-bottom: 0;
            }
        }
    }
    .Availeable-Cards {
        top: 0 !important;
    }
}
// @media only screen and (min-width:847px) {
//     .Layout {
//         gap: 10rem;
//     }
// }

/*#endregion*/

